/* ======= Camera Wrapper ======= */
/* ======= Caption Styles ======= */
.caption {
  top: 50%;
  margin-top: -114px;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  text-align: left;
}
.caption .first {
  display: block;
  font: 700 40px/40px "Ubuntu", sans-serif;
  color: #3b424b;
  margin-bottom: -16px;
  margin-left: 6px;
}
.caption .second {
  display: block;
  text-transform: uppercase;
  font: 700 140px/140px "Ubuntu", sans-serif;
  color: #f05758;
}
.caption .buttons {
  margin-top: 20px;
}
@media (max-width: 1199px) {
  .caption {
    text-align: center;
    margin-top: -81px;
  }
  .caption .first {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .caption .second {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .caption {
    margin-top: -35px;
  }
  .caption .first {
    font-size: 14px;
    line-height: 14px;
  }
  .caption .second {
    font-size: 20px;
    line-height: 20px;
  }
  .caption .buttons {
    margin-top: 0;
  }
  .caption .buttons .btn-big {
    padding: 13px;
  }
}
@media (max-width: 479px) {
  .caption {
    top: 20px;
    margin-top: 0;
  }
}
/* ======= Pagination Styles ======= */
.camera_pag .camera_pag_ul {
  list-style: none;
  padding: 0;
  text-align: right;
  position: absolute;
  bottom: 107px;
  left: 367px;
  display: inline-block;
}
.camera_pag .camera_pag_ul li {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  height: 3px;
  width: 116px;
  background: #f05758;
  position: relative;
  text-align: left;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.camera_pag .camera_pag_ul li.cameracurrent {
  background: #fde9e7;
}
.camera_pag .camera_pag_ul li:hover {
  background: #fde9e7;
}
.camera_pag .camera_pag_ul li + li {
  margin-left: 1px;
}
@media (max-width: 1650px) {
  .camera_pag .camera_pag_ul {
    text-align: center;
    left: 50%;
    margin-left: -175px;
    bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .camera_pag .camera_pag_ul {
    text-align: center;
    left: 50%;
    margin-left: -175px;
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .camera_pag .camera_pag_ul {
    bottom: 10px;
    margin-left: -46px;
  }
  .camera_pag .camera_pag_ul li {
    width: 30px;
  }
}
@media (max-width: 479px) {
  .camera_pag .camera_pag_ul {
    bottom: 0px;
  }
}
.camera_wrap {
  display: none;
  float: left;
  position: relative;
  z-index: 0;
}
.camera_wrap img {
  max-width: none!important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.camera_wrap {
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_target_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.camera_target_content .camera_link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.camera_loader {
  background: #ffffff url(../images/camera-loader.gif) no-repeat center;
  background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_bar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar,
.camera_thumbs_wrap.camera_right .camera_bar {
  height: 100%;
  position: absolute;
  width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar,
.camera_thumbs_wrap.camera_top .camera_bar {
  height: auto;
  position: absolute;
  width: 100%;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
.camera_command_wrap .hideNav {
  display: none;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
.camera_caption {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
}
