/* ======= Main menu variables ======= */
/* ======= Sub menus common variables ======= */
/* ======= First level sub menu variables ======= */
/* ======= Second level sub menu variables ======= */
nav {
  float: right;
}
/* Main menu styles
========================================================*/
.sf-menu a {
  letter-spacing: 0.06em;
}
.sf-menu > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
}
.sf-menu > li + li {
  margin-left: 50px;
}
@media (max-width: 979px) {
  .sf-menu > li + li {
    margin-left: 30px;
  }
}
.sf-menu > li > .sf-with-ul:after {
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0d7";
  color: #2d2b2c;
  bottom: -10px;
  left: 50%;
  margin-left: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu > li > a {
  text-transform: uppercase;
  font: 700 14px/16px "Ubuntu", sans-serif;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #2d2b2c;
}
.sf-menu > li > a:hover {
  color: #f05758;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu > li > a:active {
  background: transparent;
  color: #f05758;
}
.sf-menu .sfHover > a:after {
  color: #f05758;
}
.sf-menu > li.current > a {
  color: #f05758;
}
.sf-menu > li.current > .sf-with-ul:after {
  color: #f05758;
}
.sf-menu > li.sfHover > a {
  color: #f05758;
}
.sf-menu a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  display: none;
  min-width: 168px;
  font: 700 14px/16px "Ubuntu", sans-serif;
  position: absolute;
  top: 71px;
  left: -18px;
  background: #f05758;
  text-align: left;
  padding: 39px 0 37px 18px;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul > li + li {
  margin-top: 9px;
}
.sf-menu ul li {
  position: relative;
  display: block;
}
.sf-menu ul li > .sf-with-ul:after {
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0da";
  color: #ffffff;
  bottom: -1px;
  right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu ul li a {
  color: #ffffff;
  text-transform: uppercase;
}
.sf-menu ul li a:hover {
  color: #ffc7c7;
}
.sf-menu ul > .sfHover > a:after {
  color: #ffc7c7;
}
.sf-menu ul li.sfHover > a {
  color: #ffc7c7;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  position: absolute;
  top: -39px;
  left: 150px;
  margin-left: 0;
  background: #ffc7c7;
  z-index: 4;
  text-align: left;
}
.sf-menu ul ul a:hover {
  color: #f05758;
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  nav {
    width: 100%;
    float: none;
  }
  .select-menu {
    border-radius: none;
    display: block;
    text-transform: capitalize;
    float: none;
    color: #f05758;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #ffffff;
    font: 22px/28px 700 14px/16px "Ubuntu", sans-serif;
    text-align: left;
    border: 1px solid #c1c1c1;
    padding: 2px 0;
    position: relative;
  }
  .select-menu option {
    text-align: left;
    position: relative;
  }
}
/*Core variables and mixins*/
