@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Oswald:wght@300;400;500;600&display=swap");
* {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.logo a {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  color: #000;
  text-decoration: none;
}
.logo img {
  vertical-align: -16px;
  width: 97px;
  height: 90px;
}