@import url('http://fonts.cdnfonts.com/css/museo-sans-cyrl');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');




h1,
h2,
h3 {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

h4 {
    text-align: center;
}

h4,
h5,
p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-style: normal;
    color: inherit;
    text-decoration: none;
}


header {
    background-image: url("../img/bg_header.jpg");
    background-position: top center;
    background-size: cover;
    height: 162px;

}

header .head {
    width: 375px;
    margin: 0 auto;
}

.head h1 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 125.5%;
}

.head h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 125.5%;
    margin: 14px auto 0;
    color: white;
}

.head h2>a {
    padding: 8px 24px;
    background-color: #FF1320;
}

main {
    padding-top: 73px;
    padding-bottom: 5px;
    background-color: #74B342;
    background-image: url("../img/bg_main.jpg");
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
}

.content {
    position: relative;
    width: 375px;
    margin: 0 auto 0;
    background-color: white;
    border: 3px solid #EF1925;
    border-radius: 12px;
    padding-bottom: 20px;

}

.content h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 117%;
    color: white;
    margin-top: -60px;
}

.content h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 117%;
    color: black;
}

.content h2>span {
    padding: 8px 40px;
    background-color: #FF1320;
}

.content h3>span {
    padding: 14px 40px 8px;
    background-color: #FCEA00;
}

.content h4 {
    margin: 40px 0 0 0;
    padding: 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 141%;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 0 0 0px;
    padding: 0 0 10px 0;
}

article {
    float: left;
    width: 347px;
    height: 60px;
    margin: 0px 0 20px 10px;
}

article .icon {
    float: left;
    width: 65px;
    height: 65px;
    /* overflow: hidden; */
    margin: 0px 10px 0 0px;
}

article .icon>img {
    float: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

article p {
    padding: 6px 0px 6px 10px;
    overflow: hidden;
    font-size: 16px;
    line-height: 140%;
}

article:nth-child(1) {
    order: 1;
}

article:nth-child(2) {
    order: 2;
}

article:nth-child(3) {
    order: 3;
}

article:nth-child(4) {
    order: 4;
}

article:nth-child(5) {
    order: 5;
}

article:nth-child(6) {
    order: 6;
}

article:nth-child(7) {
    order: 7;
}

article:nth-child(1)>p {
    background-color: #FCEA00;
}

article:nth-child(2)>p {
    margin-top: 5px;
    background-color: rgba(252, 234, 0, 0.65);
}

article:nth-child(3)>p {
    margin-top: 0px;
    background-color: rgba(252, 234, 0, 0.25);
}

article:last-child {
    padding-right: 5px;
    display: block;
    width: auto;
}

@media screen and (max-width:1200px) {
    .button {
        display: none;
        visibility: hidden;
    }
}


.button_bottom {
    position: absolute;
    bottom: -530px;
    left: 30px;
    font-size: 19px;
    text-align: center;
    display: block;
    line-height: 114.5%;
    width: 322px;
    color: white;
    padding: 24px 0;
    background: radial-gradient(100% 100% at 50% 0%, #FF4B55 0%, #E90612 100%);
    box-shadow: 0px 4px 8px rgba(236, 17, 29, 0.44), 0px 0px 33px rgba(255, 255, 255, 0.26);
    border-radius: 18px;
}

.button:hover {
    color: white;
}


.swiper {
    margin-top: 31px;
    width: 325px;
    height: 380px;
}

.swiper-slide {
    position: relative;
    overflow: hidden;
    height: 342px;
    width: 291px;
    border-radius: 10px;
}

.swiper-button-prev {

    width: 82px;
    height: 82px;
    background-image: url('../img/btn_left.png');
    top: 38%;
    left: -5px;
}

.swiper-button-next {

    width: 82px;
    height: 82px;
    background-image: url('../img/btn_right.png');
    top: 38%;
    right: -4px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}



@media (min-width: 1200px) {

    h1,
    h2,
    h3 {
        font-family: 'Museo Sans Cyrl', sans-serif;
        font-style: normal;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    h4,
    h5,
    p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        margin: 0;
        padding: 0;
    }

    a,
    a:hover {
        font-family: 'Museo Sans Cyrl', sans-serif;
        font-style: normal;
        color: inherit;
        text-decoration: none;
    }


    header {
        background-image: url("../img/bg_header.jpg");
        height: 237px;
    }

    header .head {
        width: 1200px;
        margin: 0 auto;
    }

    .head h1 {
        padding-top: 32px;
        font-size: 40px;
        font-weight: 700;
        line-height: 125.5%;
    }

    .head h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 125.5%;
        margin: 14px auto 0;
        color: white;
    }

    .head h2>a {
        padding: 8px 24px;
        background-color: #FF1320;
    }

    main {
        padding-top: 99px;
        padding-bottom: 69px;
        background-color: #74B342;
        background-image: url("../img/bg_main.jpg");
        background-size: cover;
        min-height: 100vh;

    }

    .content {
        position: relative;
        width: 1204px;
        margin: 0 auto 0;
        background-image: url("../img/bg_content.png");
        background-repeat: no-repeat;
        border: none;
        border-radius: none;
        background-color: transparent;

    }

    .content h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 117%;
        color: white;
        margin-top: -100px;
    }

    .content h3 {
        font-size: 40px;
        font-weight: 600;
        line-height: 117%;
        color: black;
    }

    .content h2>span {
        padding: 8px 40px;
        background-color: #FF1320;
    }

    .content h3>span {
        padding: 14px 40px 8px;
        background-color: #FCEA00;
    }

    .content h4 {
        margin: 60px 0 0 0;
        padding: 25px;
        font-weight: normal;
        font-size: 30px;
        line-height: 141%;
    }

    .articles {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        overflow: hidden;
        margin: 0 0 0 30px;
        padding: 0 0 70px 0;
    }

    article {

        float: left;
        width: 529px;
        height: 84px;
        margin: 0px 0 20px 10px;
    }

    article .icon {
        float: left;
        width: 104px;
        height: 104px;
        overflow: hidden;
        margin: 0px 20px 0 10px;
    }

    article .icon>img {
        float: right;
    }

    article p {
        padding: 10px 0px 10px 18px;
        overflow: hidden;
        font-size: 23px;
        line-height: 140%;
    }

    article:nth-child(1) {
        order: 1;
    }

    article:nth-child(2) {
        order: 3;
    }

    article:nth-child(3) {
        order: 5;
    }

    article:nth-child(4) {
        order: 2;
    }

    article:nth-child(5) {
        order: 4;
    }

    article:nth-child(6) {
        order: 6;
    }

    article:nth-child(7) {
        order: 7;
    }

    article:nth-child(1)>p {
        background-color: #FCEA00;
    }

    article:nth-child(2)>p {
        margin-top: 5px;
        background-color: rgba(252, 234, 0, 0.65);
    }

    article:nth-child(3)>p {
        margin-top: 10px;
        background-color: rgba(252, 234, 0, 0.25);
    }

    article:last-child {
        display: block;
        width: auto;
    }

    .button {
        font-size: 36px;
        text-align: center;
        display: block;
        line-height: 114.5%;
        width: 737px;
        margin: -70px auto 0;
        color: white;
        padding: 24px 0;
        background: radial-gradient(100% 100% at 50% 0%, #FF4B55 0%, #E90612 100%);
        box-shadow: 0px 4px 8px rgba(236, 17, 29, 0.44), 0px 0px 33px rgba(255, 255, 255, 0.26);
        border-radius: 18px;

    }

    .button_bottom {

        display: none;
        visibility: hidden;

    }

    .button:hover {
        color: white;
    }

    .swiper {
        margin-top: 71px;
        width: 1200px;
        height: 450px;
    }

    .swiper-slide {
        position: relative;
        overflow: hidden;
        width: 374px;
        height: 445px;
        border-radius: 10px;
    }

    .swiper-button-prev {
        width: 82px;
        height: 82px;
        background-image: url('../img/btn_left.png');
        top: 46%;
        left: -5px;
    }

    .swiper-button-next {
        width: 82px;
        height: 82px;
        background-image: url('../img/btn_right.png');
        top: 46%;
        right: -4px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: '';
    }

    .swiper img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

}